.idea

chapter8/hello-nestjs/node_modules/
chapter8/hello-nestjs/dist/
chapter9/config-test/node_modules/
chapter9/config-test/dist/
chapter10/nest-auth-test/dist/
chapter10/nest-auth-test/node_modules/
chapter11/nest-auth-test/dist/
chapter11/nest-auth-test/node_modules/
chapter11/nest-auth-test/.env
chapter12/nest-file-upload/dist/
chapter12/nest-file-upload/node_modules/